<template>
    <v-container>
        <v-form @submit.prevent="login">
            <v-text-field
                v-model="form.email"
                type="email"
                label="E-mail"
                required
            ></v-text-field>
            <v-text-field
                v-model="form.password"
                type="password"
                label="Password"
                required
            ></v-text-field>
            <v-btn
                type="submit"
                color="success"
                class="mr-4"
            >Login
            </v-btn>
            <router-link to="/register">
            <v-btn
                color="blue"
                class="mr-4"
            >Register
            </v-btn>
            </router-link>
        </v-form>
    </v-container>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                form : {
                    email: null,
                    password: null
                }
            }
        },
        created() {
            if(User.loggedIn()) {
                this.$router.push({'name' : 'forum'});
            }
        },
        methods: {
            login:function(){
                User.login(this.form).then(res => {
                    this.$root.$emit('rerendertoolbar');
                    this.$router.push({'name' : 'forum'});
                }).catch(error => console.log(error));
            }
        }
    }
</script>

<style scoped>

</style>
