<template>

</template>

<script>
    export default {
        name: "Logout",
        created() {
            User.logout();
            this.$root.$emit('rerendertoolbar');
            this.$router.push({'name' : 'forum'});
        }
    }
</script>

<style scoped>

</style>
