<template>
    <v-container>

        <v-form @submit.prevent="register">

            <v-text-field
                v-model="form.email"
                type="email"
                label="E-mail"
                required
            ></v-text-field>
            <span class="red--text" v-if="errors.email">{{errors.email[0]}}</span>

            <v-text-field
                v-model="form.name"
                type="text"
                label="Name"
                required
            ></v-text-field>
            <span class="red--text" v-if="errors.name">{{errors.name[0]}}</span>

            <v-text-field
                v-model="form.password"
                type="password"
                label="Password"
                required
            ></v-text-field>
            <span class="red--text" v-if="errors.password">{{errors.password[0]}}</span>
            <v-text-field
                v-model="form.password_confirmation"
                type="password"
                label="Password Confirm"
                required
            ></v-text-field>
            <v-btn
                type="submit"
                color="success"
                class="mr-4"
            >Register
            </v-btn>
            <router-link to="/login">
                <v-btn
                    color="blue"
                    class="mr-4"
                >Login
                </v-btn>
            </router-link>
        </v-form>
    </v-container>
</template>

<script>
    export default {
        name: "Register",
        data() {
            return {
                form : {
                    email: null,
                    name: null,
                    password: null,
                    password_confirmation: null
                },
                errors : {
                }
            }
        },
        methods: {
            register() {
                User.register(this.form).then(res => {
                    this.$router.push({'name' : 'login'});
                }).catch(error => {
                    console.log(error);
                    this.errors = error.response.data.errors;
                });
            }
        },
        created() {
            if(User.loggedIn()) {
                this.$router.push({'name' : 'forum'});
            }
        },
    }
</script>

<style scoped>

</style>
