<template>

    <v-footer>
        brownrl productions
        <v-spacer></v-spacer>
        <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>

</template>

<script>
    export default {
        name: "AppFooter"
    }
</script>

<style scoped>

</style>
