<template>
    <div>
        <toolbar :key="toolbarRenderKey"/>
        <router-view></router-view>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Toolbar from "./Toolbar";
    import AppFooter from "./AppFooter"
    import Login from "./login/Login";

    export default {
        name: "AppHome",
        components: {Login, Toolbar, AppFooter},
        data() {
            return {
                toolbarRenderKey: 0,
            }
        },
        methods: {
            reRenderToolbar() {
                this.toolbarRenderKey += 1;
            }
        },
        mounted() {
            this.$root.$on('rerendertoolbar', () => {
                this.reRenderToolbar();
            });
        },
    };
</script>

<style scoped>

</style>
