<template>
    <v-container v-if="categories.length">
        <v-form @submit.prevent="save">
            <v-text-field
                label="Name"
                type="text"
                v-model="form.name"
            ></v-text-field>
            <span class="red--text" v-if="errors.name">{{errors.name[0]}}</span>
            <v-btn type="submit" color="success">Save</v-btn>
        </v-form>
        <v-toolbar class="mt-4">
            <v-toolbar-title>CATEGORIES</v-toolbar-title>
        </v-toolbar>
        <v-list>
            <v-list-item
                v-for="(category, index) in categories"
                :key="category.id"
            >
                <v-list-item-icon>
                    <v-btn icon small @click="edit(index,category)">
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                </v-list-item-icon>
                <v-list-item-content>
                    {{category.name}}
                </v-list-item-content>
                <v-list-item-icon>
                    <v-btn icon small @click="remove(index, category)">
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </v-list-item-icon>
            </v-list-item>
        </v-list>
    </v-container>
</template>

<script>
    export default {
        name: "Categories",
        data() {
            return {
                categories: [],
                form: {},
                errors: {}
            }
        },
        methods: {
            save() {
                if (this.form.id) {
                    this.update();
                } else {
                    this.create();
                }
                this.form = {};
            },
            create() {
                console.log('create');
                console.log(this.form);
                axios.post('/api/category', this.form)
                    .then(res => {
                        this.categories.unshift(res.data.data);
                    })
                    .catch(er => {
                        console.log(er.response);
                    });
            },
            update() {
                console.log('update');
                console.log(this.form);
                axios.patch('/api/category/' + this.form.id, this.form)
                    .then(res => {
                        this.categories.unshift(res.data.data);
                    })
                    .catch(er => {
                        if (er.response.status !== 401) {
                            this.errors = er.response.data.errors;
                        }
                    });
            },
            edit(index, category) {
                this.form = category;
                this.categories.splice(index, 1);
            },
            remove(index, category) {
                axios.delete('/api/category/' + category.id)
                    .then(res => {
                        this.categories.splice(index, 1);
                    })
                    .catch(er => {
                        console.log(er.response);
                    });
            }
        },
        created() {
            axios.get('/api/category')
                .then(res => {
                    this.categories = res.data.data;
                }).catch(er => {
                console.log(er.response);
            });
        }
    }
</script>

<style scoped>

</style>
