<template>
    <v-container v-if="form">
        <v-form @submit.prevent="edit">

            <v-text-field
                v-model="form.title"
                type="text"
                label="Title"
                required
            ></v-text-field>
            <span class="red--text" v-if="errors.title">{{errors.title[0]}}</span>


            <v-autocomplete
                v-model="form.category_id"
                :items="categories"
                item-text="name"
                item-value="id"
                dense
                label="Category"
            ></v-autocomplete>
            <span class="red--text" v-if="errors.category_id">{{errors.category_id[0]}}</span>


            <h4>Body</h4>

            <vue-simplemde v-model="form.body" ref="markdownEditor" />
            <span class="red--text" v-if="errors.body">{{errors.body[0]}}</span>

            <br />

            <v-btn
                type="submit"
                color="success"
                class="mr-4"
            >Save
            </v-btn>
            <v-btn
                type="button"
                color="blue"
                class="mr-4"
                @click="cancel"
            >Cancel
            </v-btn>

        </v-form>
    </v-container>
</template>

<script>
    import Vue from 'vue';
    import VueSimplemde from 'vue-simplemde';

    Vue.component('vue-simplemde', VueSimplemde);
    export default {
        name: "Ask",
        components: {
            VueSimplemde
        },
        data() {
            return {
                form: null,
                categories: [],
                errors: {}
            }
        },
        created() {
            if (!User.loggedIn()) {
                this.$router.push({'name': 'forum'});
            }
            axios.get('/api/category')
                .then(res => {
                    this.categories = res.data.data;
                })
                .catch(error => {
                    console.log(error.response);
                });
            axios.get('/api/question/' + this.$route.params.id)
                .then(res => {
                    this.form = res.data.data;
                })
                .catch(er => {
                    console.log(er.response);
                });
        },
        methods: {
            edit() {
                axios.patch('/api/question/' + this.$route.params.id, this.form)
                    .then(res => {
                        this.$router.push({'name': 'forum'});
                    })
                    .catch(er => {
                        if (er.response.status !== 401) {
                            this.errors = er.response.data.errors;
                        }
                    });
            },
            cancel() {
                this.$router.push({'name': 'forum'});
            }
        }

    }
</script>

<style scoped>
    @import '~simplemde/dist/simplemde.min.css';
</style>
