<template>
    <v-container fluid grid-list-md v-if="questions.length">
        <v-layout row wrap>
            <v-flex xs8>
                <question-teaser
                    v-for="question in questions"
                    :key="question.id"
                    :question="question"
                ></question-teaser>
            </v-flex>
            <v-flex xs4>
                <sidebar></sidebar>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import QuestionTeaser from "./QuestionTeaser";
    import Sidebar from "./Sidebar";

    export default {
        name: "Forum",
        components: {QuestionTeaser, Sidebar},
        data() {
            return {
                questions: []
            }
        },
        created() {
            axios.get('/api/question')
                .then(res => {
                    //console.log(res);
                    this.questions = res.data.data;
                })
                .catch(error => {
                    console.log(error);
                });
        }
    }
</script>

<style scoped>

</style>
