<template>
    <v-container fluid grid-list-md v-if="question">
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-title>
                        <v-layout row wrap>
                            <v-flex xs12>
                                <div>
                                    <h1>{{question.title}}</h1>
                                    <div class="grey--text subtitle-1">
                                        asked {{question.created_at}} by {{question.user}}
                                    </div>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-card-title>

                    <v-card-text v-html="body"></v-card-text>
                    <v-card-actions v-if="allowedToEdit">

                        <v-btn icon small @click="edit">
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>

                        <v-btn icon small @click="remove">
                            <v-icon>mdi-delete</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <replies
            :question="question"
        ></replies>
    </v-container>
</template>

<script>
    import md from 'marked';
    import Replies from "./Replies";
    export default {
        components: {Replies},
        data() {
            return {
                question: null
            }
        },
        computed: {
            body() {
                return md.parse(this.question.body);
            },
            allowedToEdit() {
                return this.question.user_id == User.id();
            }
        },
        name: "QuestionDetail",
        created() {
            axios.get(`/api/question/${this.$route.params.id}`)
                .then(res => {
                    this.question = res.data.data;
                })
                .catch(error => console.log(error.response));
        },
        methods : {
            remove() {
                axios.delete('/api/question/' + this.question.id).then(res => {
                    this.$router.push({'name': 'forum'});
                })
                .catch(er => {
                    console.log(er.response);
                });
            },
            edit() {
                this.$router.push({'name': 'edit', params:{'id' : this.question.id}});
            }

        }
    }
</script>

<style scoped>

</style>
