<template>
    <v-card class="mt-2">
        <v-card-title>
            <div>
                <h3>
                    <router-link :to="'/question/' + question.id">
                        {{question.title}}
                    </router-link>
                </h3>
                <div class="grey--text subtitle-2">asked {{question.created_at}} by {{question.user}}</div>
            </div>
        </v-card-title>
        <v-card-text v-html="body"></v-card-text>
    </v-card>
</template>

<script>
    import md from 'marked';
    var striptags = require('striptags');


    export default {
        name: "QuestionTeaser",
        computed: {
            body() {
                return striptags(md.parse(this.question.body));
            }
        },
        props: ['question']
    }
</script>

<style scoped>

</style>
