<template>
    <v-container fluid grid-list-md v-if="question">
        <v-layout row wrap>
            <v-flex xs12>
                <v-toolbar class="mt-4">
                    <v-toolbar-title>REPLIES</v-toolbar-title>
                    <v-spacer></v-spacer>
                    {{replies.length}} Replies
                </v-toolbar>
            </v-flex>
        </v-layout>
        <v-layout xs12>
            <v-list>
                <v-list-item v-for="(reply, index) in replies"
                             v-bind:key="reply.id">
                    <v-list-item-content>
                        <v-list-item-title>
                            {{reply.user}} <em class="caption">{{reply.created_at}}</em>
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            {{reply.body}}
                            <span v-if="user_id">
                                <v-btn icon><v-icon :color="heartColor(reply)" @click="likeIt(index, reply)">mdi-heart</v-icon>{{reply.like_count}}</v-btn>
                                <v-btn v-if="user_id == reply.user_id" icon @click="openDialog(index, reply)">
                                    <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                            </span>
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12>
                <v-form
                    @submit.prevent="create"
                >
                    <v-textarea
                        label="Type Your Reply..."
                        type="textarea"
                        v-model="form.body"
                    ></v-textarea>
                    <span class="red--text" v-if="errors.body">{{errors.body[0]}}</span>

                    <br />
                    <v-btn
                        type="submit"
                        color="green"
                    >
                        Reply
                    </v-btn>
                </v-form>
            </v-flex>
        </v-layout>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Edit Reply</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12">
                                    <v-textarea label="Reply*" type="textarea" required
                                                v-model="dialogForm.body"></v-textarea>
                                    <span class="red--text" v-if="dialogErrors.body">{{dialogErrors.body[0]}}</span>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                        <v-btn color="blue darken-1" text @click="update">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-container>

</template>

<script>
    export default {
        name: "Replies",
        props: ['question'],
        data() {
            return {
                user_id: User.id(),
                form: {},
                errors: {},
                dialogErrors: {},
                replies: [],
                dialog: false,
                dialogForm: {},
            }
        },
        created() {
            this.replies = this.question.replies;
        },
        methods: {
            heartColor(reply) {
                return reply.liked ? 'red' : 'red lighten-4';
            },
            create() {
                axios.post('/api/question/' + this.question.id + '/reply', this.form).then(res => {
                    this.replies.push(res.data.data);
                    this.form.body = '';
                    this.errors  = {};
                }).catch(er => {
                    this.errors = er.response.data.errors;
                });

            },
            likeIt(index, reply) {
                if (reply.liked) {
                    axios.delete('/api/question/' + reply.question_id + '/reply/' + reply.id + '/like')
                        .then(res => {
                            this.replies.splice(index, 1, res.data.data);
                        })
                        .catch(er =>{
                            console.log(er.response);
                        });
                } else {
                    axios.post('/api/question/' + reply.question_id + '/reply/' + reply.id + '/like')
                        .then(res => {
                            this.replies.splice(index, 1, res.data.data);
                        })
                        .catch(er =>{
                            console.log(er.response);
                        });
                }
            },
            openDialog(index, reply) {
                this.dialogForm = {...reply};
                this.dialogForm.index = index;
                this.dialog = true;
            },
            update() {
                axios.patch('/api/question/' + this.question.id + '/reply/' + this.dialogForm.id, {
                    body: this.dialogForm.body
                }).then(res => {
                    this.replies.splice(this.dialogForm.index, 1, res.data.data);
                    this.dialogForm = {};
                    this.dialog = false;
                    this.dialogErrors = {};
                }).catch(er => {
                    if (er.response.status !== 401) {
                        this.dialogErrors = er.response.data.errors;
                    }
                });

            }
        }
    }
</script>

<style scoped>

</style>
