<template>
    <v-card
        color="grey lighten-4"
        flat
        tile
    >
        <v-toolbar dense>
            <v-toolbar-title>
                <router-link to="/">Realtime App</router-link>
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <router-link v-for="item in items"
                         :key="item.title"
                         v-if="item.show"
                         :to="item.to"
            ><v-btn>{{item.title}}</v-btn></router-link>


        </v-toolbar>
    </v-card>
</template>

<script>
    export default {
        name: "Toolbar",
        data() {
            return {
                items: [
                    {title: 'Forum', to: '/forum', show: true},
                    {title: 'Ask', to: '/ask', show: User.loggedIn()},
                    {title: 'Categories', to: '/categories', show: User.loggedIn()},
                    {title: 'Logout', to: '/logout', show: User.loggedIn()},
                    {title: 'Login', to: '/login', show: !User.loggedIn()},
                ]
            }
        }
    }
</script>

<style scoped>

</style>
